@mixin odessa-input {
  [class^="odessa-input"]:focus,
  [class^="odessa-input"]:active {
    box-shadow: 0 0 0 4px #009adb;
    outline: 4px solid transparent;
    -webkit-transition: box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
  }

  [class^="odessa-input"] {
    border: 2px solid #1a1a1a;
    border-radius: 4px;
    box-sizing: border-box;
    color: #1a1a1a;
    font-size: 1rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0 0 2rem;
    max-width: 46em;
    width: 100%;
    padding: 0.625rem 1rem;
    -webkit-transition: box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
  }

  .odessa-input--2-char-width {
    max-width: 8ex;
  }

  .odessa-input--3-char-width {
    max-width: 10ex;
  }

  .odessa-input--4-char-width {
    max-width: 12ex;
  }

  .odessa-input--5-char-width {
    max-width: 14ex;
  }

  .odessa-input--7-char-width {
    max-width: 17ex;
  }

  .odessa-input--10-char-width {
    max-width: 23ex;
  }

  .odessa-input--20-char-width {
    max-width: 41ex;
  }
}

@include odessa-input;
