@import "src/styles/global";

[class^="odessa-button"]:focus,
[class^="odessa-button"]:active {
  box-shadow: 0 0 0 4px #009adb;
  outline: 4px solid transparent;
  -webkit-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
}

[class^="odessa-button"] {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: calc(14 / 9);
  //margin: 0 calc(1rem + 0.75rem) 1.5rem 0;
  min-width: 10rem;
  padding: calc((1rem + 0.25rem) / 2) 1.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 40em) {
  [class^="odessa-button"] {
    margin-right: 0;
    display: block;
    width: 100%;
  }
}

.odessa-button--primary {
  background-color: #0066cc;
  color: #ffffff;
}

.odessa-button--primary:hover {
  background-color: #00478f;
}

.odessa-button--primary:focus {
  background-color: #00478f;
  -webkit-transition: background-color 0.2s ease-out,
    box-shadow 0.1s ease-in-out;
  transition: background-color 0.2s ease-out, box-shadow 0.1s ease-in-out;
}

.odessa-button--primary:active {
  background-color: #002142;
  -webkit-transition: background-color 0s, box-shadow 0.1s ease-in-out;
  transition: background-color 0s, box-shadow 0.1s ease-in-out;
}

.odessa-button--secondary {
  background-color: #ffffff;
  border: 2px solid #0066cc;
  color: #0066cc;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.odessa-button--secondary:hover {
  background-color: #e0f0ff;
  border-color: #00478f;
  color: #00478f;
}

.odessa-button--secondary:focus {
  background-color: #e0f0ff;
  border-color: #00478f;
  color: #00478f;
  -webkit-transition: background-color 0.2s ease-out,
    box-shadow 0.1s ease-in-out;
  transition: background-color 0.2s ease-out, box-shadow 0.1s ease-in-out;
}

.odessa-button--secondary:active {
  background-color: #c2e0ff;
  border-color: #002142;
  color: #002142;
  -webkit-transition: background-color 0s, box-shadow 0.1s ease-in-out;
  transition: background-color 0s, box-shadow 0.1s ease-in-out;
}

.odessa-button--tertiary {
  background-color: transparent;
  color: #0066cc;
  text-decoration: underline;
}

.odessa-button--tertiary:hover {
  background-color: #e8e8e8;
  color: #00478f;
  text-decoration: underline;
}

.odessa-button--tertiary:focus {
  background-color: #e8e8e8;
  color: #00478f;
  text-decoration: underline;
  -webkit-transition: background-color 0.2s ease-out,
    box-shadow 0.1s ease-in-out;
  transition: background-color 0.2s ease-out, box-shadow 0.1s ease-in-out;
}

.odessa-button--tertiary:active {
  background-color: #d1d1d1;
  color: #002142;
  text-decoration: underline;
  -webkit-transition: background-color 0s, box-shadow 0.1s ease-in-out;
  transition: background-color 0s, box-shadow 0.1s ease-in-out;
}
