*::before,
*::after {
  box-sizing: inherit;
}

//------------------
// Greyscale colours
//------------------
$odessa-colour-white: #ffffff;
$odessa-greyscale-5: darken(#ffffff, 5); // #F2F2F2
$odessa-greyscale-20: darken(#ffffff, 20); // #CCCCCC
$odessa-greyscale-40: darken(#ffffff, 40); // #999999
$odessa-greyscale-60: darken(#ffffff, 60); // #666666
$odessa-greyscale-70: darken(#ffffff, 70); // #4d4d4d
$odessa-colour-black: darken(#ffffff, 90); // #1A1A1A

//---------------
// System colours
//---------------

// Link and primary button colours
$odessa-colour-link: #0066cc;
$odessa-colour-link--hover: #00478f;
$odessa-colour-link--active: #002142;
$odessa-colour-link--visited: #551a8b;

// Secondary and tertiary button colours
$odessa-colour-button-secondary--hover: scale_color(
  $odessa-colour-link,
  $lightness: 90%
); // #E0F0FF
$odessa-colour-button-secondary--active: scale_color(
  $odessa-colour-link,
  $lightness: 80%
); // #C2E0FF
$odessa-colour-button-tertiary--hover: scale_color(
  $odessa-colour-black,
  $lightness: 90%
); // #E8E8E8
$odessa-colour-button-tertiary--active: scale_color(
  $odessa-colour-black,
  $lightness: 80%
); // #D1D1D1

// Alert colours
$odessa-colour-alert: #cd0000;
$odessa-colour-warning: #fcaf17;
$odessa-colour-success: #118847;

// Focus colour
$odessa-colour-focus: #009adb;

//-----------------------
// Accent colour palettes
//-----------------------

// Main
$odessa-colour-gold: #cba52e;
$odessa-colour-yellow: #fcaf17;
$odessa-colour-taupe: #c1b28f;
$odessa-colour-green: #39b54a;
$odessa-colour-lime: #8dc63f;
$odessa-colour-teal: #49a7a2;
$odessa-colour-sky: #00b2e3;
$odessa-colour-blue: #3193cc;
$odessa-colour-purple: #b975b7;
$odessa-colour-orange: #f15a22;
$odessa-colour-red: #f0454b;
$odessa-colour-magenta: #f03093;

// Light
$odessa-colour-light-gold: #f0e7cc;
$odessa-colour-light-yellow: #f8e5c3;
$odessa-colour-light-taupe: #ebe7db;
$odessa-colour-light-green: #d1efd4;
$odessa-colour-light-lime: #ddedc7;
$odessa-colour-light-teal: #cfeded;
$odessa-colour-light-sky: #c5eefa;
$odessa-colour-light-blue: #dbe9f5;
$odessa-colour-light-purple: #f1e3f2;
$odessa-colour-light-orange: #fee1d9;
$odessa-colour-light-red: #ffe0e2;
$odessa-colour-light-magenta: #fedff0;

// Dark
$odessa-colour-dark-gold: #86743d;
$odessa-colour-dark-yellow: #8a600d;
$odessa-colour-dark-taupe: #7b725c;
$odessa-colour-dark-green: #2b8737;
$odessa-colour-dark-lime: #5f8129;
$odessa-colour-dark-teal: #367a76;
$odessa-colour-dark-sky: #1080a6;
$odessa-colour-dark-blue: #0369ac;
$odessa-colour-dark-purple: #92278f;
$odessa-colour-dark-orange: #c64a1c;
$odessa-colour-dark-red: #d81a21;
$odessa-colour-dark-magenta: #c00264;

$font-dir: "../fonts" !default;

$odessa-font-open-sans: "Open Sans", "Helvetica Neue", Helvetica, Arial,
  sans-serif;
$odessa-font-raleway-modified: "Raleway", "Open Sans", "Helvetica Neue",
  Helvetica, Arial, sans-serif;

$spacing-0: 0;
$spacing-1: 0.25rem; // 4px
$spacing-2: 0.5rem; // 8px
$spacing-3: 0.75rem; // 12px
$spacing-4: 1rem; // 16px
$spacing-5: 1.5rem; // 24px
$spacing-6: 2rem; // 32px
$spacing-7: 2.5rem; // 40px
$spacing-8: 3rem; // 48px
$spacing-9: 4rem; // 64px

//TODO ask var
$small-breakpoint: 750px;

$icon-dir: "src/assets/images";

body {
  font-size: 16px;
  line-height: 1.6;
  background-color: $odessa-colour-white;
  color: $odessa-colour-black;
  margin: 0;
}

/* -------------------------------
        Forms
--------------------------------- */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="color"],
input[type="search"],
input[type="tel"],
textarea {
  background-origin: initial;
  height: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-family: $odessa-font-open-sans;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  page-break-inside: avoid;
}

legend,
label {
  display: block;
  margin: 0;
}

select {
  background-origin: initial;
  height: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
}

%odessa-header-styles {
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  margin-bottom: 1rem;
  font-feature-settings: normal;
  font-family: $odessa-font-raleway-modified;
}

%h1-styles {
  @extend %odessa-header-styles;
  font-size: rem-calc(32);
  letter-spacing: 0.04rem;
  line-height: 1.2;
  margin: 0 0 $spacing-4 0;
  @media screen and (min-width: 40em) {
    font-size: rem-calc(40);
    letter-spacing: 0.04rem;
    line-height: 1.29;
  }
}

%h2-styles {
  @extend %odessa-header-styles;
  font-size: rem-calc(27);
  letter-spacing: 0.03rem;
  line-height: 1.33;
  margin: 0 0 $spacing-4 0;
  @media screen and (min-width: 40em) {
    font-size: rem-calc(33);
    letter-spacing: 0.02rem;
    line-height: 1.37;
  }
}

%h3-styles {
  @extend %odessa-header-styles;
  font-size: rem-calc(23);
  letter-spacing: 0.02rem;
  line-height: 1.43;
  margin: 0 0 $spacing-4 0;
  @media screen and (min-width: 40em) {
    font-size: rem-calc(28);
    letter-spacing: 0.02rem;
    line-height: 1.5;
  }
}

%h4-styles {
  @extend %odessa-header-styles;
  font-size: rem-calc(20);
  letter-spacing: 0.03rem;
  line-height: 1.5;
  margin: 0 0 $spacing-4 0;
  @media screen and (min-width: 40em) {
    font-size: rem-calc(24);
    letter-spacing: 0.0313rem;
    line-height: 1.5;
  }
}

%h5-styles {
  @extend %odessa-header-styles;
  font-size: rem-calc(18);
  letter-spacing: 0.03rem;
  line-height: 1.5;
  margin: 0 0 $spacing-4 0;
  @media screen and (min-width: 40em) {
    font-size: rem-calc(19);
    letter-spacing: 0.025rem;
    line-height: 1.56;
  }
}

%h6-styles {
  @extend %odessa-header-styles;
  font-size: rem-calc(16);
  letter-spacing: 0.03rem;
  line-height: 1.5;
  margin: 0 0 $spacing-4 0;
  @media screen and (min-width: 40em) {
    font-size: rem-calc(16);
    letter-spacing: 0.025rem;
    line-height: 1.56;
  }
}

%lead-statement {
  font-size: rem-calc(22);
  line-height: 1.4;
}

.exampleWrapper {
  margin: 1em 0 0 1em;
}

// Builds a rem-calc function for use in SCSS
@function rem-calc($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

// Radius for rounded corners (for example, buttons)
$global-radius: 4px;
