@import "../../styles/_global.scss";

$odessa-touch-target-size: 36px;
$odessa-touch-target-size-mobile: 40px;
$odessa-checkboxes-size: 28px;
$odessa-checkboxes-size-mobile: 32px;
$odessa-checkbox-border-size: 2px;

.odessa-checkboxes {
  margin-bottom: $spacing-7;
}

.odessa-checkboxes__item {
  position: relative;
  margin: 0 0 $spacing-4;
  padding: 0 $spacing-6 0;
  min-height: $odessa-checkboxes-size;

  &:last-of-type {
    margin: 0;
  }

  @media screen and (max-width: $small-breakpoint) {
    padding: 0 $spacing-7 0;
    min-height: $odessa-checkboxes-size-mobile;
  }
}

.odessa-checkboxes__input {
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: -$odessa-checkbox-border-size;
  left: -$odessa-checkbox-border-size;
  opacity: 0;
  width: $odessa-touch-target-size;
  height: $odessa-touch-target-size;
  z-index: 1;

  // prevent blue default highlighting of input on android
  -webkit-tap-highlight-color: transparent;

  @media screen and (max-width: $small-breakpoint) {
    width: $odessa-touch-target-size-mobile;
    height: $odessa-touch-target-size-mobile;
  }
}

.odessa-checkboxes__label {
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  margin: $spacing-1 0;
  padding: 0 $spacing-4;

  @media screen and (max-width: $small-breakpoint) {
    margin: 0.33rem 0;
  }

  // [ ] Check box styles
  &:before {
    content: "";
    border: $odessa-checkbox-border-size solid $odessa-colour-black;
    border-radius: $global-radius;
    position: absolute;
    top: 0;
    left: 0;
    width: $odessa-checkboxes-size;
    height: $odessa-checkboxes-size;
    transition: border 0.1s ease-in-out;

    @media screen and (max-width: $small-breakpoint) {
      width: $odessa-checkboxes-size-mobile;
      height: $odessa-checkboxes-size-mobile;
    }
  }

  // ✔✔✔ Check mark styles ✔✔✔
  &:after {
    content: "";
    background: red;
    //background-image: url("#{$icon-dir}/arrow.svg");
    //background-image: url(../../assets/images/arrow.svg);
    background-repeat: no-repeat;
    height: $odessa-checkboxes-size + $odessa-checkbox-border-size;
    width: $odessa-checkboxes-size + $odessa-checkbox-border-size;
    position: absolute;
    top: $odessa-checkbox-border-size / 2;
    left: $odessa-checkbox-border-size / 2;
    right: 0;
    bottom: 0;
    opacity: 0;

    @media screen and (max-width: $small-breakpoint) {
      height: $odessa-checkboxes-size-mobile + $odessa-checkbox-border-size;
      width: $odessa-checkboxes-size-mobile + $odessa-checkbox-border-size;
    }
  }

  /*
  These styles specifically target IE11. There is a difference in the way the checkbox
  size is rendering, and this targets it to be the correct size
  */
  @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
    &:before {
      height: $odessa-checkboxes-size + ($odessa-checkbox-border-size * 2);
      width: $odessa-checkboxes-size + ($odessa-checkbox-border-size * 2);

      @media screen and (max-width: $small-breakpoint) {
        height: $odessa-checkboxes-size-mobile +
          ($odessa-checkbox-border-size * 2);
        width: $odessa-checkboxes-size-mobile +
          ($odessa-checkbox-border-size * 2);
      }
    }
  }
}

.odessa-checkboxes__input:focus + .odessa-checkboxes__label:before {
  -moz-box-shadow: 0 0 0 4px $odessa-colour-focus;
  -webkit-box-shadow: 0 0 0 4px $odessa-colour-focus;
  box-shadow: 0 0 0 4px $odessa-colour-focus;
  outline: 4px solid transparent;
  transition: all 0.1s ease-in-out;
}

.odessa-checkboxes__input:checked + .odessa-checkboxes__label:after {
  opacity: 1;
}

.odessa-checkboxes__input:checked + .odessa-checkboxes__label:before {
  background-color: $odessa-colour-black;
}
